<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' http: https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' http: https: localhost:*; style-src 'unsafe-inline' http: https:; object-src 'none'; img-src 'self' http: https: data:; connect-src http: https: localhost:* ws://localhost:* data:; font-src 'self' data: http: https:;">
    <meta name="importmap-type" content="systemjs-importmap" />

    <title>Poliedro - Banco de Questões</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

    <script type="systemjs-importmap" src="/importmap.json"></script>
    <script type="systemjs-importmap" src="/importmap-mf-dev.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    
    <script src="https://www.wiris.net/demo/plugins/app/WIRISplugins.js?viewer=image"></script>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    
    <div id="loader" style="position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);">
      <h1>Inicializando...<h1>
    </div>
    
    <script>
      System.import('@poliedro/orchestrator');
    </script>

    <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
  </body>
</html>
